[package]
name = "blackjack_nodes"
description = "A procedural, node-based modelling tool, made in Rust"
homepage = "https://github.com/setzer22/blackjack"
repository = "https://github.com/setzer22/blackjack"
license = "MIT"
version = "0.1.0"
keywords = ["gamedev", "3d", "modelling", "procedural"]
authors = ["setzer22"]
edition = "2021"

[dependencies]

# Forked crates
egui_wgpu_backend = { git = "https://github.com/setzer22/egui_wgpu_backend", rev = "3abd9145aaf2c79417d2ea2207df52f4e302ae28" }
wavefront_rs = { git = "https://github.com/setzer22/wavefront_rs", rev = "e303f33" }

# Git dependencies
egui_winit_platform = { git = "https://github.com/hasenbanck/egui_winit_platform", rev = "eea97f778a17c7f97f3cf1758f3ebb5ff6251e11" }
egui_node_graph = { git = "https://github.com/setzer22/egui_node_graph", rev = "d8c31a5", features = ["persistence"] }
# rend3 = { git = "https://github.com/BVE-Reborn/rend3", rev = "6bf09d0dc4aea986bb6ffd5207b14a3ad1714cc2" }
# rend3-routine = { git = "https://github.com/BVE-Reborn/rend3", rev = "6bf09d0dc4aea986bb6ffd5207b14a3ad1714cc2" }
rend3 = "*"
rend3-routine = "*"
glsl-include = { git = "https://github.com/setzer22/glsl-include", rev = "d9b1ade" }

# Crates.io crates
egui = { version = "0.16", features = ["persistence"] }
glam = { version = "0.20", features = ["serde", "bytemuck"] }
env_logger = { version = "0.9", default-features = false, features = ["termcolor", "atty"] }
winit = { version = "0.26" }
wgpu = "0.12"
pollster = "0.2"
smallvec = { version = "1.7.0", features = ["serde"] }
itertools = "0.10"
anyhow = { version = "1.0", features = ["backtrace"] }
bytemuck = { version = "1.7", features = ["derive"] }
serde = { version = "1.0", features =  ["derive"] }
ron = "0.7"
strum = "0.23.0"
strum_macros = "0.23.0"
hecs = "0.7"
rfd = "0.6"
float-ord  = "0.3.2"
spin_sleep = "1.0.0"
type-map = "0.5"
rayon = "1.5.1"
nonmax = "0.5"
slotmap = { version = "1.0", features = ["serde"] }
num-traits = "0.2.14"
atomic_float = "0.1"
profiling = { version = "1.0", features = ["profile-with-tracy"] }
image = { version = "0.24", default-features = false, features = ["png"] }

# Image loading is too slow in debug mode. This compiles all dependencies with optimizations.
[profile.dev.package."*"]
opt-level = 3

[patch.crates-io]
# NOTE: These patches are only used for development, and should be left
# commented out in any commits to the 'main' branch
# egui_wgpu_backend = { path = "../egui_wgpu_backend" }
# egui_winit_platform = { path = "../egui_winit_platform" }
# egui_node_graph = { path = "../egui_node_graph/egui_node_graph", features = ["persistence"] }
rend3 = { path = "../rend3/rend3" }
rend3-routine = { path = "../rend3/rend3-routine" }

